<div class='regform'>
  <div *ngIf="step>0 && step<4">
  <a *ngIf="step==1" class='orange'><strong>1</strong></a>
  <a *ngIf="step!=1 && !product.step1saved" class='grey'><strong>1</strong></a>
  <a *ngIf=" step!=1 && product.step1saved" class='green'><strong>1</strong></a>
  <a *ngIf="step==2" class='orange'><strong>2</strong></a>
  <a *ngIf="step!=2 && !product.step2saved" class='grey'><strong>2</strong></a>
  <a *ngIf="step!=2 && product.step2saved" class='green'><strong>2</strong></a>
  <a *ngIf="step==3" class='orange'><strong>3</strong></a>
  <a *ngIf="step!=3 && !product.step3saved" class='grey'><strong>3</strong></a>
  <a *ngIf="step!=3 && product.step3saved" class='green'><strong>3</strong></a>
  </div>
  <br>
  <app-general *ngIf="step==1" [product]="product" (generalSaved)="savegeneral($event)"></app-general>
  <app-profile *ngIf="step==2" [product]="product" (detailsSaved)="saveprofile($event)"></app-profile>
  <app-payment *ngIf="step==3" [product]="product" (paymentSaved)="savepayment($event)" (allSaved)="finish($event)"></app-payment>
  <app-info *ngIf="step==4" [product]="product"></app-info>
  <button *ngIf="step>1 && step<4" (click)="gotoPage(false)">Prew</button>
  <button *ngIf="step>0 && step<3" (click)="gotoPage(true)">Next</button>
  </div>