<header class = "main-header">
  <div class = "container">
      <div class = "top-bar row">
              <div class = "navbar-header col-md-5">
                  <a href = "#" class = "navbar-brand">
                      <img src = "/assets/img/cons-logo.fw_.png" alt = "logo" id = "logo" />
                  </a>
              </div>
              <div class = "header-top col-md-6 col-md-offset-1">
                  <ul class = "header-info">
                      <li>
                          <span>
                              <strong>E-Mail:</strong>
                          </span>
                          <span><a href = "#">+0800 123 4567</a></span>
                      </li>
                      <li>
                          <span>
                              <strong>Telephone:</strong>
                          </span>
                          <span>+0800 123 4567</span>
                      </li>
                      <li>
                          <span class = "glyphicon glyphicon-search">

                          </span>
                  </ul>
              </div>
      </div>
  </div>
  <div class = "main-menu">
          <div class = "wrap">
                  <div class = "container">
                          <div class = "menu row">
                                  <nav class = "navbar col-md-12">
                                      <ul class = "nav navbar-nav">
                                          <li><a [routerLink] = 'linkForm'>Homepage</a></li>
                                          <li><a routerLink = '/' >About us</a></li>
                                          <li><a [routerLink] = 'product'>Projects</a></li>
                                          <li><a routerLink = '/'>Services</a></li>
                                          <li><a routerLink = '/'>Blog</a></li>
                                          <li><a routerLink = '/'>Contact</a></li>
                                      </ul>
                                  </nav>
                          <div>
                  </div>
          </div>
      </div>
          </div>
  </div>
</header>