<footer class = "main-footer">
  <div class = "post-footer">
  <div class = "container">
      <div class = "footer-content row">
          <div class = "footer-logo col-md-3">
              <div class = "footer-logo">
                  <img src = "assets/img/artim.png" />
              </div>
              <div class = "footer-par">
                  <p>
                      But nothing the copy said could convince her and so it didn’t take long until a few insidious.
                  </p>
              </div>
          </div>
          <div class = "footer-posts col-md-3">
              <div class = "caption" style="padding-left:40px;">lastest post
              </div>
              <div class = "list">
              <ul>
                  <li>
                      <a href = "#">Dissuade Ecstatic</a>
                  </li>
                  <li>
                      <a href = "#">Properly Saw</a>
                  </li>
                  <li>
                      <a href = "#">Laughter Endeavor</a>
                  </li>
                  <li>
                      <a href = "#">Vanity Excuse</a>
                  </li>
                  <li>
                      <a href = "#">Sufficient Understood</a>
                  </li>
              </ul>
              </div>
          </div>
          <div class = "footer-aside col-md-3">
              <div class = "caption">
                      BUSINESS HOURS                                
              </div>
              <div class = "footer-text">
                      Our support Hotline is available 24<br/>
                      Monday-Friday: 9am to 5pm<br/>
                      Saturday: 10am to 2pm<br/>
                      Sunday: Closed<br/>
              </div>
          </div>
          <div class = "footer-portfolio col-md-3">
              <div class ="caption">
                      PORTFOLIO
              </div>
              <div class = "container-img">
              <a href = "#">
                  <img src = "assets/img/3.jpg" />
                  <img src = "assets/img/1.jpg" />
                  <img src = "assets/img/2.jpg" />
                  <img src = "assets/img/4.jpg" />
                  <img src = "assets/img/5.jpg" />
                  <img src = "assets/img/6.jpg" />
                  <img src = "assets/img/7.jpg" />
                  <img src = "assets/img/8.jpg" />
                  <img src = "assets/img/9.jpg" />
              </a>
              </div>
          </div>
      </div>
  </div>
  </div>
  <div class = "pre-footer">
      <div class = "container">
          <div class = "row">
              <div class = "col-md-6">
              </div>
              <div class = "footer-menu col-md-6">
                  <ul class = "menu nav navbar-nav">
                      <li class = "list-item"><a href = "#">Homepage</a></li>
                      <li class = "list-item"><a href = "#">About Us</a></li>
                      <li class = "list-item"><a href = "#">Projects</a></li>
                      <li class = "list-item"><a href = "#">Services</a></li>
                      <li class = "list-item"><a href = "#">Blog</a></li>
                      <li class = "list-item"><a href = "#">Contact</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>