<div class = "page-paragraph">
  <div class = "container">
      <div class = "text row">
          <div class = "content col-md-12">
                  <p>
                      <strong>Quodcumque affirmarem secernitur facillimam gi at se. Aperire quatuor facilem nunquam an peccant mo. Conari re debent me ii clarae ob<br/> secius potius pileos.Actu more ac is sumi amen quia.</strong>
                  </p>
          </div>
      </div>
      <div class="button row">
          <div class = "button-left col-md-6">
                  <a class="btn btn-primary" href="#">
                          <i class="fa fa-arrow-left"></i>
                  </a>                                  
          </div>
          <div class = "button-right col-md-2 col-md-offset-4" style = "padding-left: 65px;">
                  <a class="btn btn-primary" href="#">
                          <i class="fa fa-arrow-right"></i>
                  </a>      
          </div>
      </div>
  </div>
</div>