<p class="main">
  Registered successfully!!!
</p>
<br>
<br>
<br>
<div class = "home_ref">
<button routerLink="/"> Return to main page </button>
</div>
<br>
<br>
<p class="main">Information:</p>
<p class="info">Image: {{product.image}}</p>
<p class="info">Title: {{product.title}}</p>
<p class="info">Description: {{product.description}}</p>
<p class="info">Price: {{product.price}}</p>
<p class="info">Quantity: {{product.quantity}}</p>
<p class="info">Category: {{product.category}}</p>
<p class="info">Card name: {{product.cardnumber}}</p>
<p class="info">Month: {{product.month}}</p>
<p class="info">Year: {{product.year}}</p>
<p class="info">CVC: {{product.cvc}}</p>