
.info{
	//align-items: left;
	font-size: 20px;
}
.main{
	font-size: 40px;
	text-align: center;
}
.home_ref{
	text-align: center;
	a{
	font-size: 36px;
}
button{
	padding: 12px 24px;
	font-size: 30px;
	outline: 0;
}
}