<div class = "page-comments">
  <div class = "container">
      <h3>5 Comments</h3>
      <ul class = "comment-list">
          <li class = "comment-1">
              <article class = "id-comment">
                  <div class = "comment-meta">
                      <div class = "comment-author">
                          <img src = "http://2.gravatar.com/avatar/eb3dc6749399fd2888994587ec0436d8?s=60&d=mm&r=g"/>
                      </div>
                      <div class = "coment-metadata">
                              <b class = "fn">
                                      <a href = "#" style = "color:#888">John</a>
                              </b>
                              <span class= "says">dedi ki:</span>
                      </div>
                  </div>
                  <div class = "comment-content">
                      <a href = "#"> 7 Nisan 2016,07:39</a>
                      <p>Nulla sonos hoc eae caput dubio ullam. Ut eo an perfectae ecclesiae vi posuerunt scientiis excaecant.</p>
                  </div>
                  <div class = "reply">
                      <a href = "#">Cevapla</a>
                  </div>
              </article>
          </li>
          <li class = "comment-2">
                  <article class = "id-comment">
                      <div class = "comment-meta">
                          <div class = "comment-author">
                              <img src = "http://2.gravatar.com/avatar/eb3dc6749399fd2888994587ec0436d8?s=60&d=mm&r=g"/>
                          </div>
                          <div class = "coment-metadata">
                                  <b class = "fn">
                                          <a href = "#" style = "color:#888">Walter</a>
                                      </b>
                                      <span class= "says">dedi ki:</span>
                          </div>
                      </div>
                      <div class = "comment-content">
                          <a href = "#"> 7 Nisan 2016,07:40</a>
                          <p>Factae imo partem absque seriem meo dictis. Sequentium rem cogitantur deo existentia theologiae.</p>
                      </div>
                      <div class = "reply">
                          <a href = "#">Cevapla</a>
                      </div>
                  </article>
              </li>
              <li class = "comment-3">
                      <article class = "id-comment">
                          <div class = "comment-meta">
                              <div class = "comment-author">
                                  <img src = "http://2.gravatar.com/avatar/eb3dc6749399fd2888994587ec0436d8?s=60&d=mm&r=g"/>
                              </div>
                              <div class = "coment-metadata">
                                      <b class = "fn">
                                              <a href = "#" style = "color:#888">Peter</a>
                                          </b>
                                      <span class= "says">dedi ki:</span>
                              </div>
                          </div>
                          <div class = "comment-content">
                              <a href = "#"> 7 Nisan 2016,07:40</a>
                              <p>Desumptae chimaeram de ab profundum immittant devinctam cogitandi.</p>
                          </div>
                          <div class = "reply">
                              <a href = "#">Cevapla</a>
                          </div>
                      </article>
                  </li>
                  <li class = "comment-4">
                          <article class = "id-comment">
                              <div class = "comment-meta">
                                  <div class = "comment-author">
                                      <img src = "http://2.gravatar.com/avatar/eb3dc6749399fd2888994587ec0436d8?s=60&d=mm&r=g"/>
                                  </div>
                                  <div class = "coment-metadata">
                                          <b class = "fn">
                                                  <a href = "#" style = "color:#888">YartimG</a>
                                              </b>
                                              <span class= "says">dedi ki:</span>
                                  </div>
                              </div>
                              <div class = "comment-content">
                                  <a href = "#">28 Mayıs 2016, 16:00</a>
                                  <p>Üst</p>
                              </div>
                              <div class = "reply">
                                  <a href = "#">Cevapla</a>
                              </div>
                          </article>
                      </li>
                      <li class = "comment-5">
                              <article class = "id-comment">
                                  <div class = "comment-meta">
                                      <div class = "comment-author">
                                          <img src = "http://2.gravatar.com/avatar/eb3dc6749399fd2888994587ec0436d8?s=60&d=mm&r=g"/>
                                      </div>
                                      <div class = "coment-metadata">
                                              <b class = "fn">
                                                      <a href = "#" style = "color:#888">asdasd</a>
                                                  </b>
                                                  <span class= "says">dedi ki:</span>
                                      </div>
                                  </div>
                                  <div class = "comment-content">
                                      <a href = "#">28 Mayıs 2016, 16:36</a>
                                      <p>Deneme Sil</p>
                                  </div>
                                  <div class = "reply">
                                      <a href = "#">Cevapla</a>
                                  </div>
                              </article>
                          </li>
      </ul>
  </div>
</div>